{% extends "layout.html" %} {% block main %}
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>Symbol</th>
			<th>Name</th>
			<th>Shares</th>
			<th>Price</th>
			<th>TOTAL</th>
		</tr>
	</thead>
	<tbody>
		{% for asset in assets %}
		{% if asset['SUM(shares)'] > 0 %}
		<tr>
			{% for key, value in asset.items() %}
			<td>{{ value }}</td>
			{% endfor %}
		</tr>
		{% endif %}
		{% endfor %}
		<tr>
			<td>CASH</td>
			<td></td>
			<td></td>
			<td></td>
			<td>{{ cash }}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><b>{{ total_assets }}</b></td>
		</tr>
	</tbody>
</table>
{% endblock %}
